.container {
  height: 100%;
  padding: 0 2vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.content {
  display: flex;
  height: 100%;
}

.left {
  flex: 1;
}

.title {
  font-size: 32px;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.filter {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.filterLabel {
  font-size: 24px;
}

.filterDropdown {
  margin-left: 8px;
}

.players {
  margin-top: 56px;
}
