.container {
  position: relative;
  z-index: var(--zi-overlay);
}
.input {
  align-items: center;
  border: 0;
  border-bottom: 1px solid var(--white);
  background: var(--gray-1);
  color: var(--white);
  display: flex;
  opacity: 0.7;
  padding: 4px;
  z-index: 1;
  position: relative;
}

.input:hover {
  opacity: 1;
}

.inputOpened {
  opacity: 1;
  color: var(--green-1);
  border-color: var(--green-1);
}

.inputLabel {
  font-size: 24px;
}

.inputIcon {
  margin-left: 8px;
}

.inputIconImage {
  --icon-size: 16px;
  display: block;
  height: var(--icon-size);
  width: var(--icon-size);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--gray-2);
  /* z-index: var(--zi-overlay); */
}

.optionsEnter {
  opacity: 0;
  transform: translate(0, -24px);
}

.optionsEnterActive {
  opacity: 1;
  transition: all 200ms ease-in-out;
  transition-property: transform opacity;
  transform: translate(0, 0);
}

.optionsExit {
  opacity: 1;
  transform: translate(0, 0);
}

.optionsExitActive {
  opacity: 0;
  transition: all 200ms ease-in-out;
  transition-property: transform opacity;
  transform: translate(0, -24px);
}

.option {
  display: block;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  color: var(--white);
  padding: 16px 24px;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.option:hover {
  background-color: var(--white-o10);
}

.option + .option {
  border-top: 1px solid var(--white-o10);
}
