@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container {
  background-color: var(--gray-1);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--zi-loader);
}

.image {
  --image-size: 32px;
  width: var(--image-size);
  height: var(--image-size);
}

@media (prefers-reduced-motion: no-preference) {
  .image {
    animation: loader-spin infinite 2s ease-in-out;
  }
}
