.playerImage {
  --imageSize: 64px;
  height: var(--imageSize);
  width: var(--imageSize);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: var(--gray-2);
  border: 4px solid var(--gray-2);
}

table,
tr,
th,
td,
tbody {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  color: var(--green-2);
  font-size: 12px;
  font-weight: var(--fw-light);
  text-align: left;
}

th,
td {
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

td:first-child,
td:first-child {
  padding-right: 0;
}

td {
  padding-top: 16px;
}
tr + tr td {
  border-top: 1px solid var(--white-o10);
}

.tdNameText {
  font-weight: var(--fw-bold);
}

.tdNameCrosses {
  font-size: 14px;
  font-weight: var(--fw-light);
  opacity: 0.8;
}
