.visual {
  height: 8px;
  width: 240px;

  border-radius: 4px;
  display: flex;
  margin-bottom: 8px;
  border: 1px solid var(--gray-1);
  overflow: hidden;
}

@media (max-width: 1200px) {
  .visual {
    width: 80px;
  }
}

.visualPart {
  flex: 1;
}

.visualEarly {
  background-color: var(--color-early);
}

.visualMid {
  background-color: var(--color-mid);
}

.visualLate {
  background-color: var(--color-late);
}
.text {
  display: flex;
}
.crossTypeText {
  font-size: 14px;
  font-weight: var(--fw-light);
  opacity: 0.8;
}

.crossTypeText + .crossTypeText {
  margin-left: 8px;
}
