.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.enter .clubs {
  opacity: 0;
  transform: translate(0, 16px);
}

.enterActive .clubs {
  opacity: 1;
  transform: translate(0, 0);
}

.exit .clubs {
  opacity: 1;
  transform: translate(0, 0);
}

.exitActive .clubs {
  opacity: 0;
  transform: translate(0, 8px);
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-1);
  z-index: var(--zi-clubpicker);
}

.title {
  font-size: 24px;
  margin-bottom: 40px;
}

.clubs {
  display: flex;
  padding-bottom: 64px;
  transition: all 500ms ease-out;
  transition-property: opacity transform;
}
