:root {
  --white: #ffffff;
  --white-o10: rgba(255, 255, 255, 0.1);
  --gray-1: #374859;
  --gray-2: #2e3f50;

  --green-1: #82deb0;
  --green-2: #87bba1;
  --green-3: #395961;

  --color-early: #deda82;
  --color-mid: #de9e82;
  --color-late: #de8282;

  --font-body: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --transition-bezier: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  --zi-overlay: 1;
  --zi-clubpicker: 2;
  --zi-loader: 3;
}
