.container {
  --pitch-width: 400px;
  --pitch-height: 600px;
  position: relative;
  height: var(--pitch-height);
  width: var(--pitch-width);
}

.canvas {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.pitchImage {
  display: block;
  max-width: 100%;
}

.highlightedEvent {
  width: 240px;
  background-color: var(--gray-2);
  padding: 24px;
  position: absolute;
  left: 50%;
  top: -16px;
  transform: translate(-50%, 0);
}

.highlightedEvent {
  text-align: center;
}

.highlightedEventPlayer {
  color: var(--green-1);
  font-size: 18px;
  margin-bottom: 8px;
}
.highlightedEventScore {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .container {
    --pitch-width: 300px;
    --pitch-height: 450px;
  }
}
