.club {
  background: transparent;
  display: block;
  border: 0;
  padding: 0;
  margin: 0 32px;
  text-align: center;
}

.club:hover .clubImageWrapper {
  transform: scale(0.9);
  background-color: var(--green-3);
}

.club:hover .clubImage {
  transform: scale(1.1);
}

.club:hover .clubName {
  color: var(--green-1);
}

.clubImageWrapper {
  display: block;
  padding: 24px;
  border-radius: 50%;
  background-color: var(--gray-2);
  transition: transform 0.2s var(--transition-bezier),
    background-color 0.2s ease-in-out;
}

.clubImage {
  --imageSize: 64px;
  display: block;
  padding: 0;
  height: var(--imageSize);
  width: var(--imageSize);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.2s var(--transition-bezier);
  transition-property: transform;
}

.clubName {
  display: block;
  color: var(--white);
  font-size: 14px;
  margin-top: 16px;
  transition: color 0.2s ease-in-out;
}

.club-small .clubImage {
  --imageSize: 40px;
}

.club-small .clubImageWrapper {
  padding: 16px;
}
